# Maven target directory
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDE specific files
### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/

### Eclipse ###
.project
.classpath
.settings/
bin/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Other
*.swp
*~
